
<link rel="stylesheet" href="resources/css/navbar.css">
<div class="container">
<br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="section-title">
			Add Model Details
		</h3>
	
<div class="panel material-panel panel-default shadow-big" >
			<div class="panel-body">
				<form type="form" name="regform" role="form" ng-submit="addmodel()" novalidate>
					<div class="form-group col-md-12">
						<div class="panel-section active">
							<label for="name">Manufacturer</label>
							<select class="type-drp form-control material-input" id="manufacture_id" required ng-model="manufacturer_id">
								<option value="" selected disabled>Select Manufacturer</option>
								<option ng-repeat="manufacturer in manufacturerdata" ng-value="manufacturer.manufacturer_id">{{manufacturer.manufacturer_name}}</option>
								
							</select>

							<span class="text-danger" ng-if="manufacturer_err">{{manufacturer_err_msg}}</span>

						
						</div>

						<div class="panel-section active">
							<label for="name">Model Name</label>
							<input type="text" class="form-control material-input" id="name" placeholder="model name" ng-model="model_name" required>
							<span class="text-danger" ng-if="model_err">{{model_err_msg}}</span>
						
						</div>



						<div class="panel-section active">
							<label for="name">Color</label>
							<input type="text" class="form-control material-input" id="color" placeholder="color" ng-model="modelcolor" required>
							<span class="text-danger" ng-if="color_err">{{color_err_msg}}</span>
						
						</div>

						<div class="panel-section active">
							<label for="name">Manufacturing Year</label>
							<input type="number" class="form-control material-input" id="manufacturing_year" placeholder="manufacturing_year" ng-model="manufacturing_year" required>
							<span class="text-danger" ng-if="manufacturing_year_err">{{manufacturing_year_err_msg}}</span>
						
						</div>

						<div class="panel-section active">
							<label for="name">Registration Number</label>
							<input type="text" class="form-control material-input" id="registration_no" placeholder="registration_no" ng-model="registration" required>
							<span class="text-danger" ng-if="registration_no_err">{{registration_no_err_msg}}</span>
						
						</div>

						<div class="panel-section active">
							<label for="name">Note</label>
							<input type="text" class="form-control material-input" id="note" placeholder="note" ng-model="note" required>
							<span class="text-danger" ng-if="note_err">{{note_err_msg}}</span>
						
						</div>



						<div class="panel-section active">
							<label for="name">Model Image</label>
							<input type="file" id="document" name="image"  class="form-control material-input"  ng-file="image" multiple="multiple" required/>

                        
							<span class="text-danger" ng-if="image_err">{{image_err_msg}}</span>
						
						</div>

						
					</div>
					
					<div class="form-group col-md-12 text-center my-account-form-link-container" style="padding-bottom: 20px;">
						<input type="submit" class="my-account-form-link" style="padding-left:40px;padding-right:40px;border-radius: 4px;" value="Add Model">
					</div>
				</form>
			</div>
		</div>
		

	


	<div class="panel material-panel panel-default shadow-big" ng-if="modelrecord">
            <div class="panel-body">
               <div class="table-responsive">
                  
                     <table id="example_wrapper" class="table table-striped table-bordered display dataTables_wrapper" >
                        <tr>
                        <thead>
                        	<th>Sr</th>
                           <th>Manufacturer Name</th>
                           <th>Model Name</th>
                           <th>Count</th>
                           <th>Action</th>
                        
                           
                        </thead>
                        </tr>
                        <tbody>
                           <tr ng-repeat="resdata in modeldata" >
                              <td> {{$index + 1}}</td>
                              <td> {{resdata.manufacturer_name | uppercase}}</td>
                              <td> {{resdata.models | uppercase }}</td>
                              <td> {{resdata.count}}</td>
                              <td><a class="btn btn-info" ng-click="sold_model(resdata.manufacturer_id)">Sold</a> / <a class="btn btn-info" ng-click="view_details(resdata.models_id)">View Details</a></td>
                            
                           </tr>
                        </tbody>
                     </table>
                  
               </div>
            </div>
           
         </div>
         <div class="panel material-panel panel-default shadow-big" ng-if="modelrecorddetails">
            <div class="panel-body">
               <div class="table-responsive">
                  
                     <table id="example_wrapper" class="table table-striped table-bordered display dataTables_wrapper" >
                        <tr>
                        <thead>
                        	<th>Sr</th>
                           <th>Color</th>
                           <th>Manufacturing Year</th>
                           <th>Registration No</th>
                           <th>Note</th>
                        
                           
                        </thead>
                        </tr>
                        <tbody>
                           <tr ng-repeat="resdata in modelldata" >
                              <td> {{$index + 1}}</td>
                              <td> {{resdata.color | uppercase}}</td>
                              <td> {{resdata.manufacturing_year  }}</td>
                              <td> {{resdata.registration_no}}</td>
                              <td> {{resdata.note}}</td>

                           </tr>
                        </tbody>
                     </table>
                  
               </div>
            </div>
           
         </div>
         </div>
		
		
</div>

</div>