<IfModule mod_rewrite.c>
   RewriteEngine On
   # Cors
   Header always set Access-Control-Allow-Origin "*"
   Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
   Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
   
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>